body{
    background-color: #fff0e3;
}
h4{
   font-family: 'Montserrat';
   font-size: 24px;
   font-weight: bolder;
   margin-top: 10px;
   color: black;
}
h5{
  font-family: 'Montserrat';
  font-weight: bold;
  color: black;
  font-size: 18px;
}

/*Navigation Bar*/
.navbar-brand{
  font-family: 'Montserrat';
  font-size: 28px;
    font-weight: bold;
  margin-left: 40px;
  color: black;

}
.nav-link{
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 700;
  color: black;
}


#navbar-example2 .active {
  background : transparent;
  color: black;

}
#navbar-example2{
  background-color:#e0c0a3;
}

#navbar-example2{
  background-color:#e0c0a3;
}

/*Content*/
#cafe-head{
	margin-left: 120px;

}
.fa-angle-left{
  color: black;
  position: relative;
  margin-left: 90px;
  right: 5px;
  top: 35px;
}
.cafepic{
	margin-left: 80px;
}

.info{
    margin-left: 50px;
    margin-right: 120px;
}
.about{
  font-size: 16px;
  color: black;
}
.software{
    font-size: 16px;
    color: black;
}

/*Footer*/
.page-footer{
  background-color: #e0c0a3;
}
.footer2{
  background-color: #dfad80;
}

/*animation*/
.nav-item>a:hover{
  
  color: black;
  border-bottom: 2px solid black;
    background:none;
}   

.navbar>a:hover{
  color: black;
}

.section>a:hover{
  border-bottom: 2px solid black;
}

.link-items>li>a:hover{
  border-bottom: 2px solid black;
}