body{
    background-color: #fff0e3;
}
h4{
   font-family: 'Montserrat';
   font-size: 24px;
   font-weight: bolder;
   margin-top: 10px;
   color: black;
}

/*Navigation Bar*/
.navbar-brand{
	font-family: 'Montserrat';
	font-size: 28px;
    font-weight: bold;
	margin-left: 40px;
	color: black;
	margin-bottom: 140px;
}
.nav-link{
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 700;
	color: black;
}
.nav-pills{
	margin-bottom: 140px;
}

#navbar-example2 .active {
  background : transparent;
  color: black;

}

#navbar-example2{
	background-color:#e0c0a3;
}


/*Content*/
#crime-head{
	margin-left: 120px;
	top: 5px;
}
.fa-angle-left{
	color: black;
	position: relative;
	margin-left: 90px;
	right: 5px;
	top: 35px;
}
.crimepic{
	margin-left: 80px;
}

/*Footer*/
.page-footer{
	background-color: #e0c0a3;
}
.footer2{
	background-color: #dfad80;
}

/*animation*/
.nav-item>a:hover{
	background:initial;
	color: black;
}

.navbar>a:hover{
	color: black;
}