body{
    background-color: #F1E7D0;
}

/*Navigation Bar*/
.navbar-brand{
	font-family: 'Montserrat';
	font-size: 28px;
    font-weight: bold;
	margin-left: 40px;
	color: black;
}
.nav-link{
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 700;
	color: black;
}

#navbar-example2 .active {
  color: black;
  background-color: #F1E7D0 ;
}
#navbar-example2{
	background-color: #F1E7D0;
}


/*Content*/
/*#intro{
	text-align: center;
	color: black;
	font-family: 'Montserrat';
	font-size: 40px;
	font-weight: 700;
}*/
.section{
	margin-left: 80px;
}
h4{
   font-family: 'Montserrat';
   font-size: 18px;
   font-weight: bold;
   margin-top: 10px;
}

.seework{ 
    color: black;
    font-family: 'Montserrat';
    font-weight: 600; 
    position: absolute; 
    left: 1200px;     
}

#sw1{
	top: 74px;
}

#sw2{
   	top: 765px;
}

#sw3{
	top:1455;
}







