body{
    background-color: #F1E7D0;
}

/*Navigation Bar*/
.navbar-brand{
	font-family: 'Montserrat';
	font-size: 28px;
    font-weight: bold;
	margin-left: 40px;
	color: black;
}
.nav-link{
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 700;
	color: black;
}

#navbar-example2 .active {
  color: black;
  background-color: #F1E7D0 ;

}
#navbar-example2{
	background-color: #F1E7D0;
}


/*Content*/
#intro1{
	color: black;
	font-family: 'Montserrat';
	font-size: 50px;
	font-weight: 900;
	margin-top: 50px;
}

#intro2{
	color: black;
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 500;
	margin-left: 100px;
	margin-right: 100px;
	font-style: italic;
	margin-bottom: 50px;

}
.section{
	margin-left: 80px;
}
h4{
   font-family: 'Montserrat';
   font-size: 24px;
   font-weight: bolder;
   margin-top: 10px;
   color: black;
}

.seework{ 
    color: black;
    font-family: 'Montserrat';
    font-weight: 600; 
    position: absolute; 
    left: 1200px;     
}

#sw1{
	top: 355px;
}

#sw2{
   	top: 1098px;
}

#sw3{
	top:1855;
}

/*Footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.page-footer{
   background-color:#ecdfc1;
   color: black;

}
.container2{
    color: black;
    margin-left: 600px;
}


#contact{
	margin-left: 180px;
}
#links{
	margin-left: 260px;
}
.material-icons{
	color: black;
	font-size: 20px;
}
.footer-copyright{
     height: 5px;
    
}






